@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');
@import url('https://webfontworld.github.io/NanumSquare/NanumSquare.css');

.mont {
    font-family: "Montserrat";
}

.Nanum {
    font-family: "NanumSquare";
}

.GmarketSans {
    font-family: "GmarketSans";
}