:root {
    --mainEng-font: "Montserrat";
    --mainKor-font: "GmarketSans";
    --mainNum--font: "NanumSquare";

    --mainBg-color: #2c2b2b;
    --mainBg-fontcolor: #f3f0f0;
    --subGg100: #2c2b2b;
    --subGg200: #535151;
    --subGg300: #6e6b6b;
    --subGg400: #999393;
    --subGg500: #bdb6b6;


    --white100: #615f5f;
    --white200: #858282;
    --white300: #ddd7d7;
    --white400: #ece7e7;
    --white500: #ffffff;

    --black: #000000;
    --black100: #000000;
    --black200: #000000;
    --black300: #000000;
    --black400: #000000;
    --black500: #000000;

    /* 기본 폰트 설정 */
    font-family: var(--mainEng-font), var(--mainKor-font);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    /* 폰트를 부드럽게 렌더링하기 위한 속성  */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* 아이폰 가로 모드에서 글씨 확대 금지 */
    -webkit-text-size-adjust: 100%;
}

@media (max-width: 800px) {
    :root {
        font-size: 14px;
        line-height: 1.4;
    }


    body {
        color: var(--black);
        background-color: var(--mainBg-color);
    }
}